<button class="btn btn-primary btn-block" [disabled]="empty$ | async" (click)="resetBoard()">Reset</button>
<button class="btn btn-primary btn-block" [disabled]="empty$ | async" (click)="createNextGeneration()">Next Generation</button>
<button class="btn btn-primary btn-block" (click)="population.next()">Populate</button>
<button class="btn btn-block" [ngClass]="{ 'btn-success': !(running$ | async), 'btn-danger' : (running$ | async) }" [disabled]="(empty$ | async) && !(running$ | async)" (click)="animation.next()">{{ (running$ | async) ? 'Stop animation' : 'Run animation' }}</button>
