<svg [attr.width]="size * 50 + 10" [attr.height]="size * 30 + 10">
  <g transform="translate(5,5)">

    <g *ngFor="let row of (board | async)?.data; let x = index">
        <rect *ngFor="let cell of row; let y = index"
          class="cell"
          [attr.width]="size" [attr.height]="size" 
          [attr.x]="x * size"
          [attr.y]="y * size"
          [ngStyle]="{ 'fill' : (cell ? (color | async) : 'lightgray') }"
          (click)="onClick(x, y)"
        >
        </rect>
    </g>

  </g>
</svg>
